.container .body .projects {
  .project {
    margin: 1rem 0;
    padding: 2rem 0;
    border-bottom: 2px solid #ccc;

    .project-body {
      display: flex;

      .slider-container {
        width: fit-content;

        .slick-slider {
          width: 350px;
          margin: 0 10px;

          .img-container {
            outline: none;
            display: flex !important;
            justify-content: center;
            img {
              max-width: 450px;
              max-height: 300px;
            }
          }
        }
      }

      .description {
        margin: 0 1.5rem;

        p {
          margin: 0;
        }
      }
    }

    @media screen and (max-width: 1000px) {
      h3 {
        text-align: center;
      }
      .project-body {
        flex-direction: column;
        align-items: center;

        .slider-container {
          margin: 0 2rem;
        }

        .description {
          margin-top: 2rem;
        }
      }
    }
  }
}
